@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "AkzidenzGrotesk_bq";
  src: url("../fonts/akzidenzgroteskbq-bdcnd-webfont.woff2") format("woff2"), url("../fonts/akzidenzgroteskbq-bdcnd-webfont.woff") format("woff"), url("../fonts/akzidenzgroteskbq-bdcnd-webfont.svg#akzidenz-grotesk_bq_condensBd") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Regular.eot");
  src: local("вє"), url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("truetype"), url("../fonts/BebasNeue-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, footer, aside, nav, section {
  display: block;
}

html, body {
  position: relative;
  margin: 0;
  min-width: 320px;
  height: 100%;
  padding: 0;
  color: #000;
}

body {
  font-size: 14px;
  line-height: 1;
  font-family: "PT Sans";
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 750px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ibg img {
  display: none;
}

.container {
  width: 100%;
  max-width: 880px;
  margin: auto;
}
@media (max-width: 892px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

header {
  padding: 29px 0 33px 0;
  background-color: #fff;
}
@media (max-width: 750px) {
  header {
    padding: 5px 0 5px 0;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 750px) {
  .header-top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 25px;
  }
}
@media (max-width: 479.98px) {
  .header-top {
    padding-top: 15px;
  }
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 750px) {
  .header-top-lang {
    margin-bottom: 15px;
  }
}

.header-top-lang__item {
  display: block;
  margin-right: 10px;
  padding: 0 4px;
  line-height: 19px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Bebas;
  letter-spacing: 1px;
}
.header-top-lang__item.active {
  background-color: #000;
  color: #fff;
}

.header-top__link {
  position: relative;
  z-index: 1;
  font-family: "AkzidenzGrotesk_bq";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
}
@media (max-width: 479.98px) {
  .header-top__link {
    font-size: 13px;
  }
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-top: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .header-bottom {
    margin-top: -37px;
  }
}
@media (max-width: 479.98px) {
  .header-bottom {
    margin-top: -27px;
  }
}

.header-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.header-bottom-menu--right .header-bottom-menu-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-bottom-menu--right .header-bottom-menu-list li:last-child {
  margin-bottom: 0;
}

.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.header-bottom-menu-list li {
  margin-right: 45px;
}
.header-bottom-menu-list li:last-child {
  margin-right: 0;
}
@media (max-width: 892px) {
  .header-bottom-menu-list li {
    margin-right: 20px;
  }
}
@media (max-width: 750px) {
  .header-bottom-menu-list li {
    margin-bottom: 15px;
  }
}
@media (max-width: 750px) {
  .header-bottom-menu-list {
    display: block;
  }
}

.header-bottom-menu__link {
  font-family: "AkzidenzGrotesk_bq";
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #000;
  text-transform: uppercase;
}

.header-logo {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
}

.header-logo__text {
  display: block;
  color: #000;
  font-family: Bebas;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
@media (max-width: 750px) {
  .header-logo__text {
    font-size: 8px;
  }
}
@media (max-width: 479.98px) {
  .header-logo__text {
    letter-spacing: 5px;
  }
}

.header-logo__image {
  display: inline-block;
  margin: 13px 0 22px 0;
}
@media (max-width: 750px) {
  .header-logo__image {
    margin: 2px 0 5px 0;
  }
  .header-logo__image img {
    width: 150px;
  }
}
@media (max-width: 479.98px) {
  .header-logo__image {
    margin: 0 0 2px 0;
  }
  .header-logo__image img {
    width: 100px;
  }
}

.header-menu__icon {
  display: none;
}

@media (max-width: 750px) {
  .header-menu__icon {
    position: absolute;
    top: 28px;
    left: 10px;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header-menu__icon span {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-menu__icon span:first-child {
    top: 0;
  }
  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header-menu__icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .header-menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }

  .header-menu {
    position: fixed;
    left: -120%;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 70px 10px 0;
    overflow: auto;
    background-color: #fff;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
  .header-menu.active {
    left: 0;
  }
}
@media (max-width: 479.98px) {
  .header-menu__icon {
    top: 18px;
  }

  .header-menu {
    padding-top: 60px;
  }
}
.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
}
@media (max-width: 567.98px) {
  .footer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 15px;
  }
}

@media (max-width: 567.98px) {
  .footer-body__column:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-body__column:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 15px;
  }
}

.footer__text {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 25px;
}
.footer__text a {
  text-decoration: underline;
  color: #4d4d4d;
}
.footer__text a:hover {
  text-decoration: none;
}
@media (max-width: 567.98px) {
  .footer__text {
    text-align: center;
  }
}

.private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
  margin-bottom: 75px;
}
@media (max-width: 750px) {
  .private {
    margin-bottom: 40px;
  }
}

.private__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (max-width: 750px) {
  .private__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .private__column:first-child {
    display: none;
  }
}

.private__image {
  height: 100%;
}

.private-body {
  padding: 75px 20px 75px 60px;
}
@media (max-width: 892px) {
  .private-body {
    padding: 30px 20px 30px 30px;
  }
}

.private-body-content {
  max-width: 305px;
}

.private-body__titile {
  margin-bottom: 30px;
  font-family: "AkzidenzGrotesk_bq";
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 892px) {
  .private-body__titile {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 50px;
}
@media (max-width: 892px) {
  .private-body__text {
    margin-bottom: 30px;
  }
}

.private-body-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.private-body-buttons__link {
  margin-left: 15px;
  font-family: "Bebas";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1.5px;
  color: #fff;
}

.products {
  margin-bottom: 40px;
}
@media (max-width: 750px) {
  .products {
    margin-bottom: 0;
  }
}

.products-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 750px) {
  .products-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.products__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin-bottom: 40px;
}
@media (max-width: 750px) {
  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 390px) {
  .products__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.products-item__image {
  display: block;
  padding-bottom: 100%;
  margin-bottom: 25px;
}
@media (max-width: 390px) {
  .products-item__image {
    margin-bottom: 15px;
  }
}

.products-item__title {
  display: block;
  margin-bottom: 30px;
  max-width: 185px;
  padding-right: 10px;
  font-family: "AkzidenzGrotesk_bq";
  font-size: 25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 750px) {
  .products-item__title {
    max-width: none;
  }
}
@media (max-width: 390px) {
  .products-item__title {
    margin-bottom: 20px;
  }
}

.products-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 195px;
  padding-right: 10px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 25px;
}
@media (max-width: 750px) {
  .products-item__text {
    max-width: none;
  }
}
@media (max-width: 390px) {
  .products-item__text {
    margin-bottom: 15px;
  }
}

.products-item__btn {
  margin-bottom: 29px;
}

.products-item__link {
  font-family: "Bebas";
  font-size: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
}

.why-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
}

.why-top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (max-width: 892px) {
  .why-top__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .why-top__column:last-child {
    display: none;
  }
}

.why-top__text {
  padding: 50px 60px 55px 0;
  text-align: right;
  font-family: "AkzidenzGrotesk_bq";
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}
@media (max-width: 892px) {
  .why-top__text {
    padding: 40px 0;
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .why-top__text {
    padding: 20px 0;
    font-size: 30px;
  }
}

.why-top__image {
  height: 100%;
}

.why-body {
  padding-top: 50px;
  background-color: #ebebeb;
}
@media (max-width: 479.98px) {
  .why-body {
    padding-top: 30px;
  }
}

.why-body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 50px;
}
@media (max-width: 892px) {
  .why-body__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 479.98px) {
  .why-body__column {
    margin-bottom: 30px;
  }
}

.why-body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.why-body-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  background-color: #000;
}
@media (max-width: 479.98px) {
  .why-body-item__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    height: 80px;
    padding: 15px;
  }
  .why-body-item__icon img {
    max-width: 100%;
  }
}

.why-body-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-left: 11px;
}

.why-body-item-body__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "AkzidenzGrotesk_bq";
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 25px;
}
@media (max-width: 479.98px) {
  .why-body-item-body__title {
    font-size: 20px;
  }
}

.why-body-item-body__text {
  padding-right: 15px;
  font-size: 15px;
  line-height: 25px;
}

.contacts {
  padding-top: 80px;
}
@media (max-width: 750px) {
  .contacts {
    padding-top: 30px;
  }
}

.contacts__title {
  margin-bottom: 30px;
  font-family: "AkzidenzGrotesk_bq";
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.contacts-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 20px;
}
@media (max-width: 750px) {
  .contacts-body__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.contacts-body__item {
  display: inline-block;
  padding-left: 35px;
  font-size: 15px;
  line-height: 27px;
  color: #000;
}

.contacts-body__item--1 {
  background: url("../img/contacts/01.png") left no-repeat;
}

.contacts-body__item--2 {
  background: url("../img/contacts/02.png") left no-repeat;
}

.contacts-body__item--3 {
  background: url("../img/contacts/03.png") left no-repeat;
}

.contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.contacts-social__item {
  margin-right: 30px;
}
.contacts-social__item:last-child {
  margin: 0;
}

.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
}
@media (max-width: 750px) {
  .contacts-content {
    display: block;
  }
}

.contacts-content__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contacts-content__map {
  height: 100%;
}
@media (max-width: 750px) {
  .contacts-content__map {
    height: 300px;
  }
}

.contacts-content-form {
  padding: 55px 60px;
}
@media (max-width: 750px) {
  .contacts-content-form {
    padding: 30px;
  }
}

.contacts-content-form__title {
  margin-bottom: 30px;
  font-family: "AkzidenzGrotesk_bq";
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}

.contacts-content-form-body {
  max-width: 375px;
}
@media (max-width: 750px) {
  .contacts-content-form-body {
    max-width: none;
  }
}

.contacts-content-form-line {
  margin-bottom: 25px;
}

.input {
  color: #959595;
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 0 33px;
  background-color: #000;
  font-family: "Bebas";
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
}
.btn--w {
  background-color: #fff;
  color: #000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.input {
  display: block;
  border: 2px solid #959595;
  width: 100%;
  height: 50px;
  padding: 0 18px;
  border-radius: 0 !important;
  background-color: #252525;
  font-size: 15px;
}

textarea.input {
  height: 100px;
  padding: 10px 18px;
  resize: none;
}